In [1]:
import os
import sys

In [2]:
os.path.abspath('')

'/Users/mariomesas/Documents/NanoDegrees_UDACITY/BMW /Machine Learning DevOps Engineer/Module_3/final_project_3/ML_cloud_pipeline_udacity/notebooks'

In [3]:
path = os.path.abspath(os.path.join(os.path.abspath(''), '../'))
sys.path.insert(0,path)
os.chdir(path)

In [4]:
os.path.abspath('')

'/Users/mariomesas/Documents/NanoDegrees_UDACITY/BMW /Machine Learning DevOps Engineer/Module_3/final_project_3/ML_cloud_pipeline_udacity'

### DATA LOADING

In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('./data/census.csv')

In [14]:
df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### CLEAN-UP AND EXPLORATION